
/* This is the div that contains everything, the main container */
.container
{
    padding: 2px;
    border: 2px solid red;
    width: 9vw;
    display: flex;
    flex-direction: column;
    background-color: purple;
}

#output
{
    margin: 0.5em;
    background-color: white;
}

/* This is the div that contains all the buttons */
.button-container
{
    border: 2px solid green;
    display: flex;
    flex-direction: row;
}

/* This is the div that contains only the numerical buttons */
.number-buttons
{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 22px);
}

.zero
{
    width: 300%;
}

/* This is the div that contains only the operational buttons */
.operation-buttons
{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}

.operation-buttons button
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
